.wijk {
  fill: none;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 25px;                 
  padding: 2px;             
  font-size: 10px;     
  background: #FFFFE0;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}        

.path-borders {
  fill: none;
  stroke: #757575;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#left_column, #right_column {
    outline: 1px solid gray;
}


